@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --background-10: hsl(0, 0%, 10%);
    --background-15: hsl(0, 0%, 15%);
    --background-20: hsl(0, 0%, 20%);
    --background-25: hsl(0, 0%, 25%);
    --background-30: hsl(0, 0%, 25%);

    --accent: hsl(22, 80%, 50%);
    --accent-10: hsl(22, 80%, 45%);

    --mirage: url(https://i.ibb.co/h2TTjZT/mirage.webp);
    --anubis: url(https://i.ibb.co/vm1P268/CS2-Anubis-B-site.webp);
    --ancient: url(https://i.ibb.co/9HkYkxH/ancient.webp);
    --inferno: url(https://i.ibb.co/ZxvDG81/inferno.webp);
    --nuke: url(https://i.ibb.co/vHwf9Ky/nuke.webp);
    --overpass: url(https://i.ibb.co/vj264tK/overpass.webp);
    --vertigo: url(https://i.ibb.co/52YXNQz/vertigo.webp);
}

body {
    background-color: var(--background-15);
    min-height: 100vh;
    min-width: 100vw;

    display: grid;
    place-items: center;

    font-family: 'Roboto', sans-serif;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: var(--background-10);
    color: #ccc;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.8rem;
}

.container {
    height: 40vh;
    width: 40vw;
    background-color: var(--background-20);
    border-radius: 10px;
    box-shadow: rgb(31, 31, 31) 0 0 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.container h1 {
    color: #ccc;
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 3rem;

    font-size: 2.5rem;
    text-shadow: black 1px 1px 1px;
}

form {
    width: 60%;
}

.join-form {
    display: flex;
    flex-direction: row;
    gap: 1ch;
    justify-content: center;
}

input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 80%;
    height: 3rem;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

button {
    font-family: "Roboto", sans-serif;
    height: 3rem;
    outline: 0;
    background: var(--accent);
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}

.create-form button {
    min-width: 100%;
    font-size: 1.2rem;
}

button:hover,
button:active,
button:focus {
    background: var(--accent-10);
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: black 1px 1px 1px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copy-dock {
    background-color: var(--background-10);
    border-radius: 10px;
    color: #ccc;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem;
}

#room-code {
    color: #ccc;
}

#copy-code,
#copy-link {
    cursor: pointer;
}

#copy-code:hover,
#copy-link:hover {
    color: var(--accent);
}

.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    width: 40vw;
}

.map {
    width: 80%;
    height: 10vh;

    display: grid;
    place-items: center;

    font-size: x-large;
    color: white;
    text-shadow: 0 0 5px black;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border: solid 3px var(--background-30);
    box-shadow: 0 0 5px black;

    z-index: 1;
}

#mirage { background-image: var(--mirage); }
#anubis { background-image:var(--anubis); }
#ancient { background-image: var(--ancient); }
#inferno {background-image: var(--inferno); }
#nuke { background-image: var(--nuke); }
#overpass { background-image: var(--overpass); }
#vertigo { background-image: var(--vertigo); }

.banned::before {
    content: "";
    background-color: rgba(143, 0, 0, 0.555);
    z-index: 3;
    width: 32vw;
    height: 10vh;

    position: absolute;
}

.team1::after {
    content: "\2771";
    position: absolute;
    font-size: xx-large;
    color: white;
    width: 38vw;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: left;

    z-index: 4;
}

.team2::after {
    content: "\2770";
    position: absolute;
    font-size: xx-large;
    color: white;
    width: 38vw;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: right;

    z-index: 4;
}

.team-pick-container {
    position: absolute;
    height: 30vh;
    width: 40vw;
    background-color: var(--background-20);
    box-shadow: rgb(31, 31, 31) 0 0 10px;
    border-radius: 5px;
    z-index: 5;

    visibility: hidden;
}

.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.3;
}

.team-pick {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 7;

    padding: 1rem;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.team-pick-text {
    color: #ccc;
    display: grid;
    text-align: center;

    padding: 0.3rem;
}

.team-pick-text > h2 {
    color: #fff;
    text-shadow: black 1px 1px 1px;
    font-size: 2rem;

    margin-bottom: 0.5rem;
}

.t,
.ct {
    border-radius: 100%;
    cursor: pointer;
}

.ct:hover {
    box-shadow: rgb(42, 88, 148) 0 0 10px 10px;
}

.t:hover {
    box-shadow: rgb(131, 118, 61) 0 0 10px 10px;
}

#picked-map {
    text-transform: capitalize;
    text-shadow: var(--accent) 1px 1px 1px;
}